<div>
  <ul>
    <!-- for ease of testing reasons due to limited data --
      I decided to add id to list element
    Normally id would be on some top-level div to test -->
    <%= for character <- @characters do %>
      <li id={character}><%= character %></li>
    <% end %>
  </ul>
  <%= unless @page_number == 1 do %>
    <button id="previous-page" phx-click="previous_page">⬅️</button>
  <% end %>
  <%= @page_number %>
  <button id="next-page" phx-click="next_page">➡️</button>
</div>
